# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# ML models (VERY IMPORTANT)
*.joblib
saved_models/
backend/saved_models/

# OS
.DS_Store
Thumbs.db

# Datasets
data/
../data/

